







.board td {
    /* position: absolute; */
    
    width: 35px;
    height: 35px;
    text-align: center;
    transition: 0.5s;
    border-color: rgb(0, 0, 0);
}

.board td:hover {
    background-color: lightsalmon;
}
.correct{
    background-color: chartreuse;
}