body {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    text-align: center;
}



.board td {
    /* position: absolute; */
    /* margin: 30px auto; */
    min-width: 25px;
    height:5px;
    border: 2px solid rgb(237, 240, 243);
    padding: 10px;
    font-size: 20px;
}
table {
    text-align: center;
    width: 400px;
    display: block;
    margin: 30px auto;
}

.btn {
    padding: 5px;
    background-color: beige;
}

.safe {
    background-color: yellow;
}

.shown {
    background-color: darkolivegreen;
}
.mine-shown{
    background-color: brown;
}